.con{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.group{
  display: flex;
  width: 325px;
  justify-content:space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 10px 12px 5px -2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 10px 12px 5px -2px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 12px 5px -2px rgba(0,0,0,0.12);
}

.text{
  display:flex;
  justify-content:center;
  align-items: center;
}
.icon{
  display: flex;
  justify-content:center;
}

